ion-content{
    text-transform: capitalize;
}

ion-card{
    padding: 10px 5px;
}

.imagen{
    height: 160px;
    width: fit-content;
    margin: auto;
}

.blanco{
    --background: #8d8d8d;
}

.rojo{
    --background: #c71c1c;
}

.azul{
    --background: #1c1cd1;
}

.negro{
    --background: #141414;
}

.cafe{
    --background: #883d1a;
}
