<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button [routerLink]="['../cambio-coche']">Formulario cambio de coche</ion-button>

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="12" size-xl="4" size-md="12" size-sm="12" *ngFor="let auto of autos">
        <ion-card [routerLink]="['../detalles/'+auto.id]">
          <img [src]="auto.images[0]">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-row class="ion-justify-content-center">
    <ion-item style="width: 1200px" style="border-style: solid;">
      <ion-title align="center">Nuestro catálogo</ion-title>
    </ion-item>
  </ion-row>

  <ion-grid>
    <ion-row style="height: 300px;">
        <ion-item *ngFor="let auto of autos" [routerLink]="['../detalles/'+auto.id]" style="border-style: solid;">
          <ion-col size="6">
            <ion-img [src]="auto.images[0]"></ion-img>  
          </ion-col>
          <ion-col size="6">
            <ion-label>{{auto.name}}</ion-label>
            <ion-label>{{auto.details[0]}}</ion-label>
            <ion-label>{{auto.details[1]}}</ion-label>
            <ion-label>{{auto.price}}</ion-label>            
          </ion-col>
        </ion-item>
    </ion-row>
  </ion-grid>

</ion-content>
